.jumbotron {
	background-color: darkblue;
	color: white;
	margin-top: 50px;
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: #0e2a66;
	color: white;
	margin-bottom: 0px;
	margin-top: 10px;
}
.card-ropa{
	flex: 1 200px;
	margin-top: 10px;
}
.btn-compra {
	background-color: blue;
	color: white;
	width: 100%;
	border-radius: 0px;
}
.footer-adress-icon {
	padding-right: 10px;
}
.tab-content {
	padding-top: 10px;
}
.popover {
	border-color: #FDF742;
	text-align: center;
}
