@bluemarino: #030663;
@white: #ffffff;
@border-colorpopover: #FDF742;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}


.jumbotron {
	background-color: @bluemarino;
	color: @white;
	.margenes(50px, 0px);
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: @bluemarino;
	color: @white;
	.margenes(10px, 0px);
}
.card-ropa{
	flex: 1 200px;
	.margenes(10px, 0px);
}
.btn-compra {
	background-color: blue;
	color: @white;
	width: 100%;
	border-radius: 0px;
}
.footer-adress-icon {
	padding-right: 10px;
}
.tab-content {
	padding-top: 10px;
}
.popover {
	border-color: @border-colorpopover;
	text-align: center;
}
