$yelow: #76a4d6;
$red: #fa1f02;
$green: #7ce67e;
$bluemarino: #030663;
$yellowborde: #FDF742;
$white: #ffffff;



@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
@mixin encabezado ($background-color, $color){
	background-color: $background-color;
	color: $color;
}



.jumbotron {
	@include encabezado($bluemarino, $white);
	@include margenes(50px, 0px);
}

.footer {
	padding: 10px 10px 0 10px;
	@include encabezado($bluemarino, $white);
	@include margenes(10px, 0px);
}
.card-ropa{
	flex: 1 200px;
	@include margenes(10px, 0px);
}
.btn-compra {
	@include encabezado($bluemarino, $white);
	width: 100%;
	border-radius: 0px;
}
.footer-adress-icon {
	padding-right: 10px;
}
.tab-content {
	padding-top: 10px;
}
.popover {
	border-color: $yellowborde;
	text-align: center;
}
