.jumbotron {
  background-color: #030663;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #030663;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-ropa {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-compra {
  background-color: #030663;
  color: #ffffff;
  width: 100%;
  border-radius: 0px; }

.footer-adress-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.popover {
  border-color: #FDF742;
  text-align: center; }
